# Çevre Değişkenleri (Hassas Bilgiler)
.env
*.env

# Node.js / React (Frontend)
node_modules/
dist/
.npm/
lint-output.txt

# Python / FastAPI (Backend)
__pycache__/
venv/
env/
.venv/
*.pyc

# Geçici Dosyalar
temp.py
*.log

# SQLite Veritabanı
*.db
*.sqlite3